.footer
	padding 60px 50px 75px 50px
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content space-between
	background url('../img/footer/footer__bg.png') 0 0 no-repeat
	background-size cover
	display none
	&-title
		position relative
		min-height 52px
		color #fff
		font-size 16px
		font-weight 700
		line-height 36px
		text-transform uppercase
		letter-spacing 0.96px
		margin 0
		margin-bottom 50px
		&:after
			position absolute
			content url('../img/work/separator.png')
			bottom -30px
		&--logo
			&:after
				left 0
		&--social
			&:after
				left 50%
				transform translateX(-50%)
		&--adress
			&:after
				right 0
	&__disklaimer
		margin 0
		color #fff
		font-size 14px
		font-weight 400
		line-height 24px
		letter-spacing 0.7px
	&__social 
		text-align center
	&__social-link
		background url('../img/footer/social-link.svg') 0 0 no-repeat
		text-decoration none
		display inline-block
		width 26px
		height 26px
		&--insta
			background-position 0 0
			margin-right 25px
		&--twitter
			background-position -50px 0
			margin-right 25px
		&--facebook
			background-position -95px 0
	&__adress
		text-align right
	&__adress-value
		color #fff
		font-size 14px
		font-weight 400
		line-height 18px
		letter-spacing 0.84px
			
			
		