.header
	position fixed
	z-index 99
	top 0
	width 100%
	padding 0 20px
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content space-between
	align-items center
	background-color #28363d
	&__mobile-nav
		display none
	&__nav 
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-self stretch
	&__menu 
		list-style none
		padding-left 0
		margin 0
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items stretch
	&__nav-item 
		display inline-block
		margin-right 10px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		border-bottom solid 4px transparent
		padding 0 10px
		transition: all .3s ease-in
		&:hover 
			background-color #1e292f
			border-bottom solid 4px #ff8207
		&:active
			.header__nav-link
				opacity .3
		&:last-of-type 
			margin-right 0
	&__nav-link 
		text-decoration none
		text-transform uppercase
		color #fff
		font-size 14px
		outline none
	&__tel 
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-direction column
		justify-self end
	&__phones-link 
		text-decoration none
		color #ff8207
		text-transform uppercase
		font-size 24px
		line-height 40px
		font-weight bold
	&__application-button 
		background-color transparent
		color #ff8207
		font-size 16px
		font-weight normal
		text-transform uppercase
		cursor pointer
		display none
		border: none	
.scrol
	height 80px
	.header__application-button
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
	.header__tel
		display none
.mobile-menu
	position fixed
	top 0
	left 0
	margin 0
	padding 10px
	background-color #f3f3f3
	height 100vh
	width 100%
	padding-left 0
	list-style-type none
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-direction column
	justify-content space-between
	align-items center
	display none
	&__link 
		font-size 16px
		text-decoration none
		color #636363
		text-transform uppercase
		letter-spacing 1px
		&--phone
			color #ff8207
	&__toggle
		display block
		content ''
		background-color #fff
		margin 0 auto
		height 1px
		width 100%
		transition all .3s ease-in
		position relative
		&:after
			position absolute
			display block
			background-color #fff
			height 1px
			content ''
			transition all .3s ease-in
			bottom -10px
			width 100%
		&:before
			position absolute
			display block
			background-color #fff
			width 100%
			height 1px
			content ''
			transition all .3s ease-in
			top -10px
	&__hamburger-btn
		position relative
		z-index 2
		height 40px
		width 40px
		padding 0
		background-color transparent
		outline none
		border none
		cursor pointer
.active
	display flex
	>.mobile-menu__toggle
		background-color transparent
		&:after
			background-color #999
			bottom 0
			transform rotate(-45deg)
		&:before
			background-color #999
			top 0
			transform rotate(45deg)				
	

@media screen and (min-width 320px) and (max-width 820px)
	.header
		padding 20px 20px
		&__nav
			display none
		&__tel
			display none
		&__mobile-nav
			display block
		&__nav-item
			margin 0
			padding 0 5px
		&__nav-link
			font-size 12px
		&__phones-link
			font-size 14px
			line-height 14px
@media screen and (min-width 769px) and (max-width 1024px)
	.header
		padding 20px
		&__nav-item
			margin 0
			padding 0 5px
		&__nav-link
			font-size 12px
		&__phones-link
			font-size 14px
			line-height 14px
@media screen and (min-width 1025px) and (max-width 1399px)
	.header
		&__nav-item 
			margin-right 5px
		&__phones-link
			font-size 18px
				
@media screen and (min-width 1400px)
	.header
		&__item 
			padding 0 40px
		

	