.big-slider__pagination.swiper-pagination-bullets
	position fixed
	right 10px
	top 170px
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-direction column
	align-items space-between
	box-sizing content-box
.swiper-pagination-bullet
	width 18px
	height 18px
	background-color #28363d
	margin-bottom 5px
	&-active
		background-color #ff8207
.swiper-wrapper .swiper-slide
	max-height 100vh
	
