footer#footer.footer
	.footer__logo
		.footer-title.footer-title--logo
			img.footer__logo-img(src="../img/header/logo.png", alt="logo of the company")
		p.footer__disklaimer Дисклеймер компании
	.footer__social
		h3.footer-title.footer-title--social мы в соцсетях
		a.footer__social-link.footer__social-link--insta(href="#")
		a.footer__social-link.footer__social-link--twitter(href="#")
		a.footer__social-link.footer__social-link--facebook(href="#")
	.footer__adress
		h3.footer-title.footer-title--adress адрес
		span.footer__adress-value г. Минск, ул. Скрыганова, 6А, <br>4 этаж
